<a href="https://colab.research.google.com/github/Lucrecia14/phyton_lesson_ass5/blob/main/ASSIGNMENT_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If a dependent child is a person under 18 years of age who does not earn $10,000 or more a year, which expression would define a dependent child?

ANSWER: age < 18 and salary < 10000

In [ ]:
girls = 0
boys = 0
children = girls + boys
print(children)
girls = 15
boys = 12
print(girls)
print(boys)
print(children)

# The value of boys is [0 and 12], value of girls is [0, 15] value of children is [0]

0
15
12
0

In [ ]:
x = 1
y = 2
z = 3
if x < y:
   if y > 4:
      z = 5
   else:
      z = 6
      print(z)

  # The value of 'z' is 6

6

In [ ]:

a = int(input())
b = int(input())
c = int(input())
if a > b:
   if b > c:
      answer = c
   else:
      answer = b
elif a > c:
   answer = c
else:
   answer = a
   print(answer)

   # The value of the result will be the integer stored in variable 'a'

7
8
9
7

In [ ]:
nums1 = [1, -5, 2, 0, 4, 2, -3]
nums2 = [1, -5, 2, 4, 4, 2, 7]
result = 0
j = 0
while j < len(nums1):
   if nums1[j] != nums2[j]:
      result = result + 1
   j = j + 1
  # No value was displayed as the conditions was not met.

In [ ]:
number = [-1,-2,-3,-4,-5,-6,-7,-8,-9,-10,-11,-12,-13,-14,-15,-16]
result = 0
for j in range(0, len(number)):
   if number[j] < 0:
      result = result + 1
      print(j)

# The outcome: prints out the negative numbers within the range in positive numbers

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
num = int(input())
result = 0
for count in range(1, num + 1):
   result = result + count
   print(count)
  # Prints out the numbers between 1 and a specified integer.

50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50